<h2>Desarrollo del Desafio 2 - Machine Learning

<h3>Grupo 7

<li>Laura Jazmín Chao
<li>Juan Nicolás Capistrano
<li>Betiana Srur
<li>Ignacio Mendieta
<li>Marecelo Carrizo

**Desafio 2** : Aplicar las tecnicas de Machine Learning para calcular el precio por metro cuadrado de las propiedades.

In [69]:
import numpy as np
import pandas as pd

# Libreria Grafica.
%matplotlib inline
import seaborn as sns
from matplotlib import pyplot as plt

# Libreria para analisis ML
from sklearn import datasets, linear_model

In [70]:
# Definimos la ruta de la información.
data_propiedades = "Data/properati.csv"

# Leemos los datos del archivo
data = pd.read_csv(data_propiedades, sep=",", encoding="UTF-8")

# Chequeamos que los datos se hayan importado correctamente
data.sample(5)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
44950,44950,sell,house,Córdoba,|Argentina|Córdoba|Córdoba|,Argentina,Córdoba,3860259.0,"-31.4200833,-64.188776",-31.420083,...,200.0,NaN,NaN,1.0,3.0,NaN,http://www.properati.com.ar/191jf_venta_casa_c...,Casa en Venta de 3 dorm. en Cordoba,Titulo para publicacion en Portales,https://thumbs4.properati.com/3/7U9He2m8Q3F-aY...
100188,100188,sell,apartment,Morón,|Argentina|Bs.As. G.B.A. Zona Oeste|Morón|Morón|,Argentina,Bs.As. G.B.A. Zona Oeste,3430544.0,NaN,NaN,...,35.0,1219.819750,24857.142857,NaN,NaN,NaN,http://www.properati.com.ar/1bnl2_venta_depart...,"Edificio Ubicado en Morón Sur, a cinco cuadras...",Departamento en Moron,https://thumbs4.properati.com/3/KW1p9-d8azWYr-...
94433,94433,sell,house,Escobar,|Argentina|Bs.As. G.B.A. Zona Norte|Escobar|,Argentina,Bs.As. G.B.A. Zona Norte,3434130.0,NaN,NaN,...,420.0,1404.761905,1404.761905,NaN,NaN,11000.0,http://www.properati.com.ar/1bfjn_venta_casa_e...,Muy linda casa en venta sobre dos lotes en Bos...,Casa de 420 mts. en Bosque Chico,https://thumbs4.properati.com/9/Y0v7UHPVm7YTx0...
73117,73117,sell,apartment,Barrio Norte,|Argentina|Capital Federal|Barrio Norte|,Argentina,Capital Federal,3436109.0,"-34.5841733,-58.4008772",-34.584173,...,25.0,3854.838710,4780.000000,NaN,NaN,3026.0,http://www.properati.com.ar/1anbh_venta_depart...,Capital Brokers Propiedades | o 15-POSESION I...,Venta 1 ambiente,https://thumbs4.properati.com/1/--_dvpiXD1ZWbD...
9820,9820,sell,house,Villa General Belgrano,|Argentina|Córdoba|Villa General Belgrano|,Argentina,Córdoba,3832734.0,"-31.3584976,-64.2504678",-31.358498,...,300.0,NaN,1500.000000,1.0,3.0,NaN,http://www.properati.com.ar/165mc_venta_casa_v...,Casa en Venta de 3 dorm. en V. Gral Belgrano,Casa en Venta de 3 dorm. en V. Gral Belgrano,https://thumbs4.properati.com/3/usbBcjSEMkCiOA...

In [71]:
# Chequeamos cantidad de registros y cantidad de columnas
data.shape

(121220, 26)

<h2>Limpieza de Datos.

In [72]:
# Creamos una mask para traer los valores en monedas que no son USD ni ARS.
currency_OTHER_CURRENCY_mask = (data.currency == 'PEN') | (data.currency == 'UYU')
# Observamos esos registros
data.loc[currency_OTHER_CURRENCY_mask, :]

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
50387,50387,sell,apartment,Capital Federal,|Argentina|Capital Federal|,Argentina,Capital Federal,3433955.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/19e8z_venta_depart...,Ref.: 55:PREVENTA ::: OPORTUNIDAD ::: Dúplex a...,DUPLEX A LA VENTA | Liniers 1200 | Tandil,https://thumbs4.properati.com/9/N_Qr_5X_vOq--b...
50388,50388,sell,apartment,Capital Federal,|Argentina|Capital Federal|,Argentina,Capital Federal,3433955.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/19e90_venta_depart...,Ref.: 56Duplex en venta de 1 dormitorio con ap...,DUPLEX A LA VENTA | Liniers 1200 | Tandil,https://thumbs4.properati.com/8/_cBXAyr_9pDySg...
107390,107390,sell,house,San Roque,|Argentina|Mendoza|San Roque|,Argentina,Mendoza,3836586.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/1by0s_venta_casa_s...,"Casa con Calefacción central, Mendoza, San Roq...",Casa - San Vicente,https://thumbs4.properati.com/2/pA0RbuDKRK6GgV...

In [73]:
# Hacemos drop de esos registros y chequeamos la diferencia entre cantidad original y actual
cant_registros = data.shape[0]
data.drop(data.loc[currency_OTHER_CURRENCY_mask, :].index, inplace = True)
print(f'Cantidad de registros original - registro actuales: {cant_registros - data.shape[0]}')

Cantidad de registros original - registro actuales: 3

In [74]:
# Creamos la lista de columnas a filtrar
drop_columns = ['properati_url', 'Unnamed: 0', 'operation','image_thumbnail','expenses','lat-lon','geonames_id','lat', 'lon']

# Creamos una variable nueva para guardar los datos (el cambio se realiza inplace=False)
data_filtered = data.drop(drop_columns, axis=1)
data_filtered.head(5)

,property_type,place_name,place_with_parent_names,country_name,state_name,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,description,title
0,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,62000.0,USD,1093959.0,62000.0,55.0,40.0,1127.272727,1550.000000,NaN,NaN,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB
1,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,150000.0,USD,2646675.0,150000.0,NaN,NaN,NaN,NaN,NaN,NaN,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...
2,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,72000.0,USD,1270404.0,72000.0,55.0,55.0,1309.090909,1309.090909,NaN,NaN,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO
3,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,95000.0,USD,1676227.5,95000.0,NaN,NaN,NaN,NaN,NaN,NaN,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado
4,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,64000.0,USD,1129248.0,64000.0,35.0,35.0,1828.571429,1828.571429,NaN,NaN,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...

**Esto no es necesario ahora ¿?**

In [75]:
# Creamos un diccionario con la nueva agrupación
provincia={'Capital Federal':'CABA','Bs.As. G.B.A. Zona Norte': 'Bs. As. G.B.A.', 'Bs.As. G.B.A. Zona Sur':'Bs. As. G.B.A.', 'Córdoba':'Córdoba','Santa Fe':'Santa Fe','Buenos Aires Costa Atlántica':'Buenos Aires', 'Bs.As. G.B.A. Zona Oeste':'Bs. As. G.B.A.', 'Buenos Aires Interior':'Buenos Aires','Río Negro':'Resto del país','Neuquén':'Resto del país', 'Mendoza':'Resto del país', 'Tucumán':'Resto del país', 'Corrientes':'Resto del país', 'Misiones':'Resto del país', 'Entre Ríos':'Resto del país', 'Salta':'Resto del país', 'Chubut':'Resto del país', 'San Luis':'Resto del país', 'La Pampa':'Resto del país','Formosa':'Resto del país','Chaco': 'Resto del país', 'San Juan':'Resto del país','Tierra Del Fuego':'Resto del país', 'Catamarca':'Resto del país', 'Jujuy': 'Resto del país', 'Santa Cruz':'Resto del país', 'La Rioja':'Resto del país', 'Santiago Del Estero':'Resto del país'}

In [76]:
# Mapeamos las provincias con el diccionario y ponermos el grupo en una columna nueva
data_filtered['province_group'] = data_filtered.state_name.map(provincia)
display(data_filtered.sample(5))

,property_type,place_name,place_with_parent_names,country_name,state_name,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,description,title,province_group
49533,house,Valentín Alsina,|Argentina|Bs.As. G.B.A. Zona Sur|Lanús|Valent...,Argentina,Bs.As. G.B.A. Zona Sur,220000.0,USD,3881790.0,220000.0,306.0,NaN,718.954248,NaN,NaN,6.0,"Venta de Casa 4 AMBIENTES en valentin alsina, ...",CASA EN VENTA,Bs. As. G.B.A.
32614,house,Florida,|Argentina|Bs.As. G.B.A. Zona Norte|Vicente Ló...,Argentina,Bs.As. G.B.A. Zona Norte,108000.0,USD,1905606.0,108000.0,94.0,90.0,1148.936170,1200.000000,NaN,NaN,--- R...,Duplex 3 Amb en 3 Niveles - Caseros 1600 Flori...,Bs. As. G.B.A.
110739,apartment,Balvanera,|Argentina|Capital Federal|Balvanera|,Argentina,Capital Federal,145000.0,USD,2558452.5,145000.0,69.0,65.0,2101.449275,2230.769231,NaN,3.0,"EDIFICIO SOBRE AVENIDA DE CATEGORIA, CON SEGUR...",HERMOSO 3 AMB C/BALCON,CABA
5682,store,Adrogué,|Argentina|Bs.As. G.B.A. Zona Sur|Almirante Br...,Argentina,Bs.As. G.B.A. Zona Sur,180000.0,USD,3176010.0,180000.0,167.0,167.0,1077.844311,1077.844311,NaN,NaN,Rivadavia 28 entre Av. Hipolito Yrigoyen y De ...,Galpón en venta a reciclar a mts de H.Yrigoyen...,Bs. As. G.B.A.
108251,apartment,Villa Crespo,|Argentina|Capital Federal|Villa Crespo|,Argentina,Capital Federal,128000.0,USD,2258496.0,128000.0,NaN,36.0,NaN,3555.555556,NaN,NaN,Monoambiente perfectamente divisible en torre ...,Departamento - Villa Crespo,CABA

<h2>Tomamos solamente CABA para el analisis.

In [77]:
# Creamos una máscara y la aplicamos al dataframe anterior para traer los registros que necesitamos
data_caba_mask = data_filtered.state_name == 'Capital Federal' 
data_caba = data_filtered.loc[data_caba_mask, :]

# Dropeamos la columna creada anteriormente.
data_caba.drop(columns=['province_group', 'country_name', 'state_name', 'place_with_parent_names','description', 'title'], inplace=True)

# Chequeamos cómo quedaron los datos
data_caba.head(3)

,property_type,place_name,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms
0,PH,Mataderos,62000.0,USD,1093959.0,62000.0,55.0,40.0,1127.272727,1550.000000,NaN,NaN
2,apartment,Mataderos,72000.0,USD,1270404.0,72000.0,55.0,55.0,1309.090909,1309.090909,NaN,NaN
3,PH,Liniers,95000.0,USD,1676227.5,95000.0,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
# Vemos la cantidad de datos solamente de CABA.
data_caba.shape

(32314, 12)

In [79]:
# Revisamos si hay barrios de caba mal indentificados "Ejemplo: Capital Federal"
pd.set_option('display.max_rows', 1000) # Para mostrar todas las filas.

In [80]:
# Dropeamos los de Capital Federal
capi_mask = data_caba.place_name == 'Capital Federal'
data_caba.drop(data_caba.loc[capi_mask, :].index, inplace=True)

In [81]:
data_caba.shape

(31019, 12)

In [82]:
data_caba.head(20)

,property_type,place_name,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms
0,PH,Mataderos,62000.0,USD,1093959.00,62000.0,55.0,40.0,1127.272727,1550.000000,NaN,NaN
2,apartment,Mataderos,72000.0,USD,1270404.00,72000.0,55.0,55.0,1309.090909,1309.090909,NaN,NaN
3,PH,Liniers,95000.0,USD,1676227.50,95000.0,NaN,NaN,NaN,NaN,NaN,NaN
7,apartment,Belgrano,138000.0,USD,2434941.00,138000.0,45.0,40.0,3066.666667,3450.000000,NaN,NaN
8,apartment,Belgrano,195000.0,USD,3440677.50,195000.0,65.0,60.0,3000.000000,3250.000000,NaN,NaN
13,apartment,Palermo Soho,111700.0,USD,1970890.65,111700.0,50.0,30.0,2234.000000,3723.333333,NaN,1.0
14,apartment,Palermo Soho,147900.0,USD,2609621.55,147900.0,42.0,31.0,3521.428571,4770.967742,NaN,1.0
16,PH,Mataderos,239000.0,USD,4217035.50,239000.0,140.0,98.0,1707.142857,2438.775510,NaN,4.0
19,apartment,Palermo,350000.0,USD,6175575.00,350000.0,104.0,96.0,3365.384615,3645.833333,NaN,3.0
21,apartment,Palermo,270500.0,USD,4772837.25,270500.0,118.0,73.0,2292.372881,3705.479452,NaN,4.0
29,apartment,Flores,75000.0,USD,1323337.50,75000.0,43.0,43.0,1744.186047,1744.186047,NaN,2.0
35,apartment,Boedo,145000.0,USD,2558452.50,145000.0,80.0,77.0,1812.500000,1883.116883,NaN,4.0
38,apartment,Las Cañitas,480000.0,USD,8469360.00,480000.0,220.0,130.0,2181.818182,3692.307692,NaN,3.0
47,house,Puerto Madero,70000.0,USD,1235115.00,70000.0,80.0,50.0,875.000000,1400.000000,NaN,NaN
48,apartment,Balvanera,240000.0,USD,4234680.00,240000.0,141.0,124.0,1702.127660,1935.483871,NaN,5.0
51,house,Boedo,550000.0,USD,9704475.00,550000.0,504.0,324.0,1091.269841,1697.530864,NaN,NaN
52,apartment,Caballito,110000.0,USD,1940895.00,110000.0,50.0,50.0,2200.000000,2200.000000,NaN,3.0
53,apartment,Caballito,170500.0,USD,3008387.25,170500.0,100.0,46.0,1705.000000,3706.521739,NaN,2.0
54,apartment,Caballito,220410.0,USD,3889024.24,220410.0,81.0,75.0,2721.111111,2938.800000,NaN,3.0
55,apartment,Caballito,222780.0,USD,3930841.71,222780.0,81.0,75.0,2750.370370,2970.400000,NaN,3.0

## De los datos filtrados según Desafio 1 deberiamos:

1. Terminar de dropear variables incompletas que serian necesarias para poder entrenar un modelo. (ejemplo: si la propiedad no posee: price, price_aprox_local_currency,price_usd_per_m2, price_per_m2, etc...) la información de los barrios ya fue analizado y dropeado en el paso anterior.
2. Definir las variables CUANTITATIVAS, ejemplo precio, total de m2 de superficie.
3. Armar las variables CUALITATICAS, Dummy (ejemplo: place_name, property_type).
4. Armar una nueva variable Dummy que contemple los precios de propiedad segun su distribución por metro cuadrado. Utilizando Panda CUT. 

## Finalizado el analisis de datos, armamos diferentes modelos para predecir el precio de la propiedad.

1. Regresion Lineal Multiple
2. Entrenar los modelos con Lasso, RidgeCV y utilizando Cross Validation.

### Primero damos homogenidad a los datos

Vamos a realizar ciertas verificaciones de los datos.

In [86]:
# 1. Verificamos que el price y el price_aprox_usd sean los mismos, y luego si fuera así dropeamos el price_aprox_usd

mask_price_validation = data_caba.price != data_caba.price_aprox_usd

display(data_caba.loc[mask_price_validation, :].shape)

# Detectamos que hay 4138 propiedades donde los valores son diferentes? pero estan en Pesos o son NaN?

display(data_caba.loc[mask_price_validation, :].sample(20))

# Detectamos que tenemos los dos casos, donde los precios son NaN y donde la moneda está en ARS (lo cual no estaría mal)
# En el caso de ARS, vemos que el valor de price toma el de la moneda local ~ Por lo que podriamos llegar a eliminar price, currency y price_aprox_local_currency 

# Para los valores de NaN tendriamos que tomar la decisión si los dropeamos o tratamos de calcular un precio promedio en base a la cantidad de metros cuadrados. Podemos hacerlo en base al calculo que realizamos en el Desafio 1 ??

(4138, 12)

,property_type,place_name,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms
86862,apartment,Balvanera,NaN,NaN,NaN,NaN,54.0,51.0,NaN,NaN,NaN,NaN
86158,apartment,Villa Urquiza,NaN,NaN,NaN,NaN,60.0,47.0,NaN,NaN,NaN,NaN
77868,apartment,Caballito,NaN,NaN,NaN,NaN,88.0,63.0,NaN,NaN,NaN,NaN
112647,apartment,Barrio Norte,NaN,NaN,NaN,NaN,475.0,475.0,NaN,NaN,NaN,NaN
47624,house,Flores,NaN,NaN,NaN,NaN,380.0,300.0,NaN,NaN,NaN,NaN
120360,apartment,San Telmo,1326900.0,ARS,1313058.34,74417.43,48.0,44.0,1550.363125,30156.818182,NaN,NaN
118435,store,Recoleta,9434600.0,ARS,9336182.23,529127.05,154.0,144.0,3435.889935,65518.055556,NaN,NaN
111225,apartment,Puerto Madero,NaN,NaN,NaN,NaN,203.0,184.0,NaN,NaN,NaN,3.0
46923,apartment,Flores,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25679,apartment,San Cristobal,NaN,NaN,NaN,NaN,39.0,39.0,NaN,NaN,NaN,1.0
354,apartment,Paternal,1141980.0,ARS,1130067.23,64046.43,27.0,27.0,2372.090000,42295.555556,10.0,NaN
75788,apartment,Caballito,NaN,NaN,NaN,NaN,68.0,62.0,NaN,NaN,NaN,NaN
36568,apartment,Belgrano,NaN,NaN,NaN,NaN,230.0,230.0,NaN,NaN,NaN,4.0
109381,apartment,Caballito,NaN,NaN,NaN,NaN,44.0,37.0,NaN,NaN,NaN,NaN
118744,apartment,Villa Urquiza,1751947.0,ARS,1733671.28,98255.62,37.0,32.0,2655.557297,54748.343750,NaN,NaN
359,apartment,Paternal,1120035.0,ARS,1108351.26,62815.68,27.0,27.0,2326.506667,41482.777778,7.0,NaN
22274,house,Monserrat,NaN,NaN,NaN,NaN,1000.0,400.0,NaN,NaN,NaN,5.0
25504,apartment,Boedo,NaN,NaN,NaN,NaN,40.0,40.0,NaN,NaN,NaN,2.0
119840,apartment,San Telmo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87201,apartment,Villa Urquiza,4138018.0,ARS,4094851.92,232075.26,81.0,68.0,2865.126667,60853.205882,NaN,NaN